@import (less) url('reset.css');
@font-face {
	font-family: 'Pfdintextcondpro';
	src: url(../fonts/pfdintextcondpro-regular.ttf);
}
body {
	font-family: 'Pfdintextcondpro';
}
@import url('variables-and-mixins.less');
@import url('page-header-box.less');
@import url('page-navigation-box.less');
@import url('top-slider-box.less');
@import url('send-form-box.less');
@import url('content-box.less');
@import url('warranty-box.less');
@import url('partners-box.less');
@import url('page-footer-box.less');