@import url('reset.css');
@font-face {
  font-family: 'Pfdintextcondpro';
  src: url(../fonts/pfdintextcondpro-regular.ttf);
}
body {
  font-family: 'Pfdintextcondpro';
}
.page-header-box {
  width: 742px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 20px 0;
}
.page-header-box .header-logo {
  width: 240px;
  height: 90px;
}
.page-header-box .address,
.page-header-box .phone-box {
  text-align: center;
}
.page-header-box .phone-number {
  font-size: 22px;
  margin-bottom: 10px;
}
@media screen and (max-width: 742px) {
  .page-header-box {
    width: 100%;
    padding: 10px;
  }
  .page-header-box .header-logo {
    width: 120px;
    height: 45px;
  }
  .page-header-box .address {
    display: none;
  }
  .page-header-box .phone-number {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.page-navigation-box {
  background: #ff8400;
}
.page-navigation-box .open-navigation-mobile {
  display: none;
}
.page-navigation-box .navigation-list {
  width: 742px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page-navigation-box .navigation-item {
  height: 36px;
  line-height: 36px;
  position: relative;
}
.page-navigation-box .navigation-item:not(:first-child):before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: -20px;
  background: #ffffff;
}
.page-navigation-box .navigation-item a {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.page-navigation-box .navigation-item a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 742px) {
  .page-navigation-box {
    min-height: 40px;
    padding-top: 10px;
  }
  .page-navigation-box .open-navigation-mobile {
    display: block;
    width: 28px;
    height: 20px;
    margin-right: 10px;
    float: right;
    background: url(../imgs/menu-button.png);
  }
  .page-navigation-box .navigation-list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    clear: both;
    display: none;
  }
  .page-navigation-box .navigation-item {
    text-align: center;
  }
  .page-navigation-box .navigation-item:not(:first-child):before {
    display: none;
  }
}
.content-box {
  width: 742px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 30px 0;
}
.content-box .services-list {
  width: 478px;
  margin-right: 10px;
}
.content-box .services-item {
  min-height: 140px;
  font-size: 14px;
  position: relative;
  padding-left: 155px;
}
.content-box .services-item:not(:last-child) {
  margin-bottom: 30px;
}
.content-box .services-item:before {
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px -1px #404040;
}
.content-box .services-item:first-child:before {
  background: url(../imgs/pic-1.png) center;
}
.content-box .services-item:nth-child(2):before {
  background: url(../imgs/pic-2.png) center;
}
.content-box .services-item:nth-child(3):before {
  background: url(../imgs/pic-3.png) center 185px;
}
.content-box .services-item:nth-child(4):before {
  background: url(../imgs/pic-4.png) center;
}
.content-box .services-item p {
  margin: 20px 0;
}
.content-box .sliders-box {
  width: 254px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.content-box .round-slider:not(:last-child) {
  margin-bottom: 50px;
}
.content-box .slider-viewport {
  width: 200px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px -1px #404040;
}
.content-box .slider-button {
  width: 0;
  height: 0;
  border: 14px solid transparent;
  margin: auto;
  cursor: pointer;
}
.content-box .prev {
  border-bottom-color: #ff8400;
  margin-bottom: 20px;
}
.content-box .next {
  border-top-color: #ff8400;
  margin-top: 20px;
}
.content-box .slide {
  width: 190px;
  height: 190px;
}
.content-box .slides-wrapper {
  font-size: 0;
}
@media screen and (max-width: 742px) {
  .content-box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content-box .services-list {
    width: 100%;
    margin-top: 50px;
  }
  .content-box .services-item {
    padding: 0 10px;
  }
  .content-box .services-item:before {
    display: none;
  }
  .content-box .sliders-box {
    width: 100%;
  }
  .content-box .sliders-box h1 {
    margin-bottom: 15px;
  }
  .content-box .round-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-box .slider-button {
    margin: 0;
    border-color: transparent;
  }
  .content-box .prev {
    border-right-color: #ff8400;
  }
  .content-box .prev:hover {
    border-color: transparent;
    border-right-color: #ff5a00;
  }
  .content-box .next {
    border-left-color: #ff8400;
  }
  .content-box .next:hover {
    border-color: transparent;
    border-left-color: #ff5a00;
  }
  .content-box .slides-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.warranty-box {
  padding: 30px 0 30px;
  text-align: center;
  background: #333333;
}
.warranty-box h1 {
  margin-bottom: 50px;
  color: #ffffff;
}
.warranty-box .certificate {
  width: 210px;
  height: 300px;
  cursor: pointer;
  margin-right: 40px;
}
.warranty-box .warranty-list {
  display: inline-block;
  vertical-align: top;
}
.warranty-box .warranty-item {
  font-size: 20px;
  line-height: 80px;
  color: #ffffff;
  font-style: italic;
  text-align: left;
  padding-left: 110px;
  position: relative;
}
.warranty-box .warranty-item:not(:last-child) {
  margin-bottom: 30px;
}
.warranty-box .warranty-item:before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff center no-repeat;
}
.warranty-box .warranty-item:first-child:before {
  background-image: url(../imgs/icon-1.png);
}
.warranty-box .warranty-item:nth-child(2):before {
  background-image: url(../imgs/icon-2.png);
}
.warranty-box .warranty-item:nth-child(3):before {
  background-image: url(../imgs/icon-3.png);
}
@media screen and (max-width: 742px) {
  .warranty-box {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .warranty-box h1 {
    width: 240px;
    margin: 0 auto 50px;
  }
  .warranty-box .certificate {
    width: 180px;
    height: 270px;
    margin: 0 auto 50px;
  }
  .warranty-box .warranty-list {
    margin: auto;
  }
  .warranty-box .warranty-item {
    text-align: center;
    line-height: normal;
    padding: 90px 80px 0;
  }
  .warranty-box .warranty-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .warranty-box .warranty-item:before {
    left: 50%;
    margin-left: -40px;
  }
}
.partners-box {
  background: #fdc029;
  text-align: center;
  padding: 30px 0 0;
}
.partners-box .description {
  font-size: 17px;
  font-style: italic;
  margin: 20px 0 35px;
}
.partners-box .partners-tabs {
  width: 742px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.partners-box .tab {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  height: 51px;
}
.partners-box .tab:after {
  content: '';
  width: 30px;
  height: 30px;
  background: #fdc029;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
}
.partners-box .tabs-box {
  background: #ffffff;
}
.partners-box .tab-content {
  padding: 20px;
  display: none;
}
.partners-box .tab-list-mode {
  display: none;
}
.partners-box .tab-content {
  height: 150px;
}
@media screen and (max-width: 742px) {
  .partners-box {
    padding-bottom: 20px;
  }
  .partners-box .description {
    font-size: 22px;
    margin: 20px 20px 35px;
  }
  .partners-box .partners-tabs {
    display: none;
  }
  .partners-box .tab-list-mode {
    padding: 20px 10px;
    background: #fdc029;
    border-top: 1px solid #000000;
    color: #000000;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
  }
  .partners-box .tab-list-mode:after {
    content: url(../imgs/arrow.png);
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
  }
  .partners-box .tab-content {
    border-top: 1px solid #000000;
  }
  .partners-box .tab-content:last-child {
    border-bottom: 1px solid #000000;
  }
}
.page-footer-box {
  background: #000000;
  color: #ffffff;
  padding: 35px 0 30px;
}
.page-footer-box .footer-list {
  width: 742px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.page-footer-box li {
  font-size: 13px;
  line-height: 18px;
}
.page-footer-box .footer-logo {
  width: 110px;
  height: 45px;
  background: url(../imgs/footer-logo.png);
}
.page-footer-box .contacts {
  text-align: right;
}
.page-footer-box .contacts a {
  text-transform: uppercase;
}
.page-footer-box a {
  display: block;
  color: #ffffff;
}
.page-footer-box a:hover {
  color: #ff8400;
}
@media screen and (max-width: 742px) {
  .page-footer-box .footer-list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .page-footer-box li {
    font-size: 16px;
    line-height: 22px;
  }
  .page-footer-box li:nth-child(3) {
    margin-bottom: 30px;
  }
  .page-footer-box .footer-logo {
    display: none;
  }
  .page-footer-box .contacts {
    text-align: center;
    margin-top: 30px;
  }
}
.button {
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  background: #ff8400;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-block;
}
.button:hover {
  background: #ff5a00;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
}
.content-box-pic-style {
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px -1px #404040;
}
.partners-box .tab.active {
  font-weight: normal;
}
.partners-box .tab.active:after {
  display: block;
}
.partners-box .tab-list-mode.active {
  font-weight: normal;
}
.partners-box .tab-list-mode.active:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
